<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>cfp.io</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="/webjars/bootstrap-social/4.9.0/assets/css/font-awesome.css">
	<link rel="stylesheet" href="/webjars/bootstrap-social/4.9.0/bootstrap-social.css">
	<link rel="stylesheet" href="/style/login.css">
    <link rel="icon" href="favicon.ico" />
</head>
<body>

<div class="container">

	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 title">
			<h1>cfp.io</h1>
			<h4>Please login to access to cfp.io</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 col-sm-offset-1 col-md-4 col-md-offset-2 main-text">

			<form class="form-signin" role="form" action="/local/login" method="POST">
				<img src="/img/avatar.png" class="hidden-xs">
				
				#if ($error == "invalidAuth")			
				<div class="alert alert-danger">Invalid authentication</div>
				#end

				<input type="text" name="email" class="form-control" placeholder="E-mail" required autofocus>

				<input type="password" name="password" class="form-control" placeholder="Password" required>

				<button class="btn btn-primary btn-block" type="submit">Connection</button>
				
				<a href="/local/signup"><small>Créer un compte</small></a>

			</form>

		</div>
		
		<div class="col-sm-6 col-sm-offset-2 col-md-4 col-md-offset-1 main-text">
		
			#if ($error == "noEmail")			
			<div class="alert alert-danger">Your email is not set, choose another provider</div>
			#end

			<a href="/google/login" class="btn btn-block btn-social btn-google"><span class="fa fa-google"></span> Se connecter avec Google </a>
			<a href="/github/login" class="btn btn-block btn-social btn-github"><span class="fa fa-github"></span> Se connecter avec Github </a>

		</div>
	</div>


</div>


</body>
</html>